.hidden {
    display: none;
}

#iframe-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
}

#close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
}

.preview-frame {
    position: fixed;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 100%;
}

.error {
    color: red;
    font-size: 80%;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FC624D;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 9999;
}

.image-options {
    display: none;
    position: fixed;
    /*bottom: 50%;
    left: 50%;*/
    background: white;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 999;
}

.avatar {
    object-fit: cover;
}

.modal-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50vw;
    height: auto;
    border-radius: .75rem;
    /*border: 1px solid green;*/
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 9999;
}

.modal-inner {
    /*padding: .5rem;*/
}

.inner-title {
    padding: 0 1rem;
    border-bottom: 1px solid gray;
}

.inner-body {
    margin: 2rem 0;
    padding: 0 1rem;
    width: 100%;
}

.inner-footer {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    column-gap: 1rem;
    border-top: 1px solid gray;
    padding: 20px;
}